DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require

MONITOR_USER=
MONITOR_PASS=
MONITOR_IFRAME_URL=https://componentes.enlace.org/live/multiview/

SMTP_EMAIL=
SMTP_PASSWORD=

CRON_SECRET=
CREDENTIALS_ENC_KEY=
NEXT_PUBLIC_EMAIL_DEFAULT_RECIPIENTS=ingenieria@enlace.org,rjimenez@enlace.org
NEXT_PUBLIC_EMAIL_SECURITY_RECIPIENT=knunez@enlace.org
EMAIL_FROM=noreply@enlace.org
NEXT_PUBLIC_EMAIL_FROM_NAME=Control Master
NEXT_PUBLIC_EMAIL_REPLY_TO=soporte@enlace.org

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Control Master

WHATSAPP_API_URL=http://localhost:3001
WHATSAPP_API_KEY=change-me-in-production
NEXT_PUBLIC_WHATSAPP_API_URL=http://localhost:3001
